body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 0;
  min-height: calc(100vh - 96px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chewy', cursive;
  letter-spacing: 1px;
}

label {
  font-family: 'Bree Serif', serif;
}

#madlibForm {
  /* width: 60vw; */
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

.form-inline {
  margin: 15px;
}

.results-dark-bg {
  top: 11%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .2);
}

.results-container {
  transition: all 1s;
  background-color: #fff;
}

#results-paragraph {
  font-size: 2.5vw;
  line-height: 250%;
}

.blank {
  padding: 10px 60px 0;
  margin: 0 5px;
  background: #eee;
  border-bottom: 2px solid black;
}
